ul{
    list-style:none;
}

.primary_li{ 
    width: 400px;
    li:last-child ul li:last-child{
        margin-bottom: 100px;
    }
}

h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover{

        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0.6505952722886029) 0%, rgba(61,61,94,1) 100%);
    }
}
.second_li{
    display: none;
    list-style: none;
    &.show{
        display: block;
    }

    li{
        cursor: pointer;
        position: relative;
        padding: 0 20px;
        height: 50px;
        width: 400px;
        background-color: transparent;


        &:before{
            height: 0;
            width: 0;
            position: absolute;
            content: '';
            border: 1px solid transparent;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
        }

        &:hover:before{
            height: 50px;
            width: 400px;
            border: 1px solid white;
            border-right: none;
            border-top: none;
            border-left: none;
            transition: width 0.2s linear 0.2s;
        }
        
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
}