
.form_square{
    
    padding: 0 24px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    // background: blue;
    .form_title{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 24px;
        
        .module-border-wrap {
            height: 100%;
            max-height: 100%;
            position: relative;
            background: linear-gradient(to right, white, var(--dblue) );
            padding: 0;
            height: 50px;
        }
        
        .module {
            padding-right: 50px;
            background: rgb(61,61,94);
            height: calc(100% - 1px);
        } 
    }
}


.form{
    width: 50%;
    transition: 2s ease;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;

    &.show{
        visibility: visible;
        opacity: 1;
    }
    label{
        display: flex;
        align-self: flex-start;
    }

    .input-row{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .input-group{
            display: flex;
            flex-direction: column;
        }
    }
};

input, select, textarea{
    // display: none;
    border-radius: 0 !important;
    // background:  !important;
    background: var(--dblue);
    background: linear-gradient(135deg, var(--dblue) 0%,var(--dblue-50) 50%, var(--dblue) 100%);
    border-radius: 10px !important;
    width: 200px !important;
    color: white;
    border: none !important; 
    // border-bottom: 1px solid white !important;
    height: auto !important;
}

::placeholder , select{
    color: white;
    opacity: 0.6;
  }

.fullhide{
    visibility: none;
}

.table{
    padding:24px;
    width: calc(100% - 200px);
    transition: 0.6s ease;
    visibility: hidden;
    opacity: 0;
    background: var(--dblue);
    background: linear-gradient(180deg, var(--dblue) 0%,var(--dblue-50) 50%,var(--dblue-50) 75%, var(--dblue) 100%);

    .table_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        .tabactions{
            width: 75px;
            display: flex;
            justify-content: space-between;
            i{
                cursor: pointer;
            }
        }
    }
    .ttitle{
        border-bottom: 1px solid white;
        width: fit-content;
        padding-right: 24px;
    }
    
    &.show{
        visibility: visible;
        opacity: 1;
    }

    .table_titles{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        h5{
            width: 250px;
        }
        
    }
    .table_rows{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &:not(:last-child){
            border-bottom: solid 1px white;
            margin-bottom: 20px;
        }
        div{
            padding: 0 0 12px 0;
            width: 250px;
            display: flex;
            align-items: flex-start;
            text-align: left;
        }
        .actions{
            display: flex;
            justify-content: space-around;
            i{
                // z-index: 1;
                cursor: pointer;
                padding: 12px 18px;
            }
        }
        
    }
}

.table_list{
    margin-bottom: 74px;
}