/* input, select, textarea{
    // display: none;
    border-radius: 0 !important;
    // background:  !important;
    background: var(--dblue);
    background: linear-gradient(135deg, var(--dblue) 0%,var(--dblue-50) 50%, var(--dblue) 100%);
    border-radius: 10px !important;
    width: 200px !important;
    color: white;
    border: none !important; 
    // border-bottom: 1px solid white !important;
    height: auto !important;
}

::placeholder , select{
    color: white;
    opacity: 0.6;
  } */