:root {
    --dblue:  rgb(61, 61, 94);
    --dblue-50:  rgba(39,39,66,1);
}

body{
    display:flex;
    justify-content: center;
    color:white;
    background: rgb(61, 61, 94);
    overflow: hidden;
}

.nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding:0;
    margin: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    
}
.goBack{
    height: 100%;
    position: absolute;
    left: 12px;
    /* top: 12px; */
    display: flex;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.goOut{
    height: 100%;
    position: absolute;
    right: 12px;
    /* top: 12px; */
    display: flex;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.title{
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.content{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: calc(100% - 200px);
    position: absolute;
    left: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90vh;
}

